@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
}

form * {
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 50px;
    width: 700px;
    text-align: center;
    font-size: 3rem;
}

input {
    width: 400px;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid rgb(172, 197, 219);
}

form p {
    color: red;
    border-bottom: 1px solid red;
}

input::placeholder {
    color: rgb(91, 127, 159);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

button {
    width: 420px;
    font-size: 1.4em;
    margin-top: 20px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(193, 207, 219);
    border: unset;
}

button:hover {
    background-color: rgb(142, 181, 219);
}